/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
}

/* Body */
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Page */
.page-notice {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

/* Header */
header {
    width: 100%;
    height: 8.33%;
    background-color: #002876;
    padding: 0 0.2083em;

    display: flex;
    align-items: center;
}

header .header__content .header__content__time p{
    color: #fff;
    font-size: 0.5em;
}

/* Board */
.board{
    background-color: #e6ead8;
    flex-grow: 1;

    display: flex;
    padding: 0.7% 1%;
}

.board .left-board {
    background-color: #033863;
    list-style-type: none;

    width: 15%;
    height: 100%;

    border-radius: 10px;
    padding: 0.3vw;
}

.board .left-board .message{
    margin: 2%;
    height: 11vmax;

    border-radius: 10px;
    padding: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.board .left-board .message img{
    width: 5vw;
    height: 5vw;
}

.board .left-board .message .message_text{
    max-width: 100%;
}

/* Modelo antigo */
/* .board .left-board .message h1{
    font-size: 0.35em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 3%;
} */

.board .left-board .message p {
    font-size: 0.3em;
    text-align: center;
    font-weight: 600;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board .main-board {
    background-color: #b7d3fc;

    flex-grow: 1;
    max-height: 90vh;
    display: flex;
    align-items: stretch;

    border-radius: 20px;
    margin-left: 1vw;

    padding: 1% 1% 1% 1.5%;

    overflow: hidden;
}

.board .main-board .main-board__content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.board .main-board .main-board__content__header{
    max-height: 40%;
    display: flex;
    flex-direction: row;
}

.board .main-board .main-board__content__header .image{
    width: 15vmax;
    min-width: 15vmax;
    height: 15vmax;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    margin: 3% 0 0 1%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.board .main-board .main-board__content__header .image img{
    height: 90%;

    /* margin-top: 10%; */
}

.board .main-board .main-board__content__header .text{
    flex-grow: 1;

    max-width: 100%;
    display: flex;
    flex-direction: column;

    padding: 1%;
    overflow: hidden;
}

.board .main-board .main-board__content__header .text .teacher{
    margin: 2% 1.5% 0 2%;
    border-radius: 10px;

    padding: 2%;
    display: flex;
    align-items: center;

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.board .main-board .main-board__content__header .text .teacher h1{
    font-size: 0.5em;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.board .main-board .main-board__content__header .text .subject{
    margin: 2% 0 0 7%;
    font-weight: 700;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-grow: 1;
}

.board .main-board .main-board__content__header .text .subject h2{
    font-size: 0.6em;
}

.board .main-board .main-board__content .text-notice{
    margin: 0% 0 0 2%;
    padding: 5% 0 0 5%;

    height: 49%;
    width: 80%;
    position: absolute;
    top: 40%;
    overflow: hidden;

    /*  Ajuste do texto */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.board .main-board .main-board__content .text-notice p{
    font-size: 0.5em;
    line-height: 1.2em;
}

.board .main-board .main-board__content .post-time {
   display: flex;
   justify-content: flex-end;
 }

.board .main-board .main-board__content .post-time p{
    font-size: 0.4em;
    padding: .3%;
    border-radius: 5px;

    position: absolute;
    right: 2%;
    bottom: 0%;
    
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
 }

/* Style for left warning notice */
.message-warning {
    background-color: #fff7ab;
}

/* Style for left-board information notice */
.message-information {
    background-color: #bbccf6;
}

/* Style for left-board event notice */
.message-event {
    background-color: #d5adf5;
}

 
/* Style for main warning notice */
.board .warning {
    background-color: #faee89;
}
.warning .image {
    background-color: #fce157;
}
.warning .teacher {
    background-color: #fff7ab;
}
.warning #post-timestamp {
    background-color: #fff7ab;
}


/* Style for main information notice */
.board .information {
    background-color: #96ade8;
}
.information .image {
    background-color: #6f8fe1;
}
.information .teacher {
    background-color: #bbccf6;
}
.information #post-timestamp {
    background-color: #bbccf6;
}

/* Style for main event notice */
.board .event {
    background-color: #c686f9;
}
.event .image {
    background-color: #a66ed2;
}
.event .teacher, #post-timestamp {
    background-color: #d5adf5;
}

.event #post-timestamp {
    background-color: #d5adf5;
}
