/* Switch between pages*/
.hidden{
    display: none;
}

#notices{
    width: 1848px;
    height: 968px;
}

/* Overall styles */

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

body{
    display: flex;
}

.page-notice{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Header */
.page-notice header{
    width: 100%;
    height: 5%;

    background-color: #002876;

    display: flex;
    align-items: center;
}

.page-notice .header__content{
    padding: 0.2003rem;
}

.page-notice .header__content__time {
   display: flex;
   justify-content: center;
   align-items: center;
}

.page-notice .header__content__time p{
    color: white;
    font-size: 0.5em;
}

/* Board */
.board {
    background-color: #e6ead8;

    height: 95%;

    display: flex;
    flex-direction: row;
    flex-grow: 1;

    padding: 0.2em;
} 

.page-notice .board .left-board {
    background-color: #033863;

    width: 27%;
    height: 100%;
    
    border-radius: 10px;

    margin-right: 1%; 
    padding: 0.5%;

    box-sizing: border-box;
}

.page-notice .board .left-board ul {
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 0.1em;

    box-sizing: border-box;
}

.page-notice .board .left-board .message{
    background-color: #d8ecfc;

    height: 20%;
    max-height: 150px;

    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1;
}

.page-notice .board .left-board .message img{
    flex-grow: 1;
    width: 30%;
    margin-left: 2%;
}

.page-notice .board .left-board .message .message_text{
    width: 70%;    
    margin-left: 5%;
}

.page-notice .board .left-board .message .message_text h1{
    font-size: 50%;
}

.page-notice .board .left-board .message .message_text p{
    font-size: 40%;
}

.page-notice .board .main-board {
    background-color: #b7d3fc;

    flex-grow: 1;
    display: flex;
    border-radius: 20px;

    flex-direction: column;

    padding: 2%;
}

.page-notice .board .main-board .image{
    background-color: #e6ead8;

    width: 20%; 
    min-width: 150px;
    aspect-ratio: 1 / 1; 

    border-radius: 10px;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2), 1px 1px 5px 2px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-notice .board .main-board .image img{
    height: 90%; 
}


